{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}

{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column govuk-!-margin-top-2 govuk-!-margin-bottom-4">
      <a class="govuk-link staff-facing-link" href="/appointments">&lt; Back to appointments</a>
      <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-1">Select appointment type
</h1>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-padding-top-1" >Choose the type of appointment you would like to book</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    {% for type in appointmentTypes %}
    <a href="/book-appointment" class="govuk-link govuk-link--no-underline">
      <div class="govuk-box govuk-box--white govuk-box--rounded govuk-!-padding-2 govuk-!-margin-bottom-2 govuk-!-border">
        <div class="govuk-!-margin-bottom-2">
          <h3 class="govuk-heading-s govuk-!-margin-0 govuk-!-padding-2">{{ type.title }}</h3>
          <p class="govuk-body-s govuk-!-margin-0 govuk-!-padding-2">{{ type.description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}