{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set pageTitle = applicationName + " - Appointments" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBackLink({
      text: "Back to homepage",
      href: "/pop"
    }) }}
  </div>
  </div>
  <div class="govuk-grid-row">

 <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-2  ">Appointments</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        {{ govukButton({
          text: "Request a callback",
          href: "#",
          class: "govuk-!-text-align-right "
        }) }}
    </div>
  </div>
   </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {{ govukWarningText({
              html: '
              <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-0" >
              Attending probation appointments is part of complying with your conditions.</p>
  <p class=" govuk-body-s govuk-!-margin-0 govuk-!-padding-0">If you have a problem attending an appointment, you need to tell your probation worker as soon as possible.</p>',
    iconFallbackText: "Warning"
  }) }}

   </div>
</div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full govuk-!-margin-top-1">
    <h2 class="govuk-heading-m">Upcoming Appointments</h2>
    {% set isUpcoming = true %}
    {% for appointment in upcomingAppointments %}
      {% include "./partials/appointmentSummary.njk" %}
    {% endfor %}
     </div>

</div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full govuk-!-margin-top-1">
    <h2 class="govuk-heading-m">Past appointments</h2>
    {% set isUpcoming = false %}
    {% for appointment in pastAppointments %}
      {% include "./partials/appointmentSummary.njk" %}
    {% endfor %}
  </div>
</div>

{% endblock %}
