{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}


{% set pageTitle = applicationName + " - Appointments" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% if submittedEvidence %}
{{ mojAlert({
  variant: "success",
  title: "You told us you cannot attend your unpaid work appointment on Saturday 15 March 2025",
  showTitleAsHeading: true,
  dismissible: true,
  html: "This has been shared with your probation practitioner who will check your justification. They’ll contact you if the evidence you provided was not accepted."
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBackLink({
      text: "Back to homepage",
      href: "/pop"
    }) }}
  </div>
  </div>
  <div class="govuk-grid-row">

 <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-2  ">Appointments</h1>
  </div>
   </div>


<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-full">

  {{ govukWarningText({
              html: '
              <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-0" >Attending probation appointments is part of complying with your conditions. If you have a problem attending an appointment, you need to tell your probation practitioner as soon as possible.</p>',
    iconFallbackText: "Warning"
  }) }}

  {{ govukButton({
          text: "Request a callback",
          href: "#",
          class: "govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        }) }}
   </div>
   
</div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full govuk-!-margin-top-1">
    <h2 class="govuk-heading-m">Upcoming Appointments</h2>
    {% set isUpcoming = true %}
    {% for appointment in upcomingAppointments %}
    {% include "./partials/appointmentSummary.njk" %}
    {% endfor %}
  </div>
</div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full govuk-!-margin-top-1">
    <h2 class="govuk-heading-m">Past appointments</h2>
    {% set isUpcoming = false %}
    {% for appointment in pastAppointments %}
      {% include "./partials/appointmentSummary.njk" %}
    {% endfor %}
  </div>
</div>

{% endblock %}
