{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 class="govuk-heading-l">Welcome, Carolina</h1> 
<p class="govuk-body">View and manage your community payback</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column govuk-!-margin-0 govuk-!-padding-0">
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link govuk-link--no-underline gem-c-cards__link" href="/your-details">Your details</a>
            </h3>
          </div>
        </li>
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link govuk-link--no-underline gem-c-cards__link" href="/your-progress">Your progress</a>
            </h3>
          </div>
        </li>
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link govuk-link--no-underline gem-c-cards__link" href="#">Past and upcoming appointments</a>
            </h3>
          </div>
        </li>
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link govuk-link--no-underline gem-c-cards__link" href="/conditions">Your conditions</a>
            </h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
