{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% extends "../../layouts/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 class="govuk-heading-l">Welcome, Joe</h1>
<p class="govuk-body">View and manage your community payback</p>

{% if scenario == "missed" %}
{{ mojAlert({
  variant: "error",
  title: "Missed appointment",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'You failed to attend your scheduled probation appointment on 10 March 2025. You have 48 hours to <a href="/pop/messages/thread/5cdc4302-3ad3-4378-b3e3-6ae0731ab4a1">respond to this notice</a> and explain why you missed this. If you fail to do that, this might count as a breach of your conditions.'
}) }}
{% endif %}

{% if scenario == "reminder" %}
{{ mojAlert({
  variant: "information",
  title: "Appointment reminder",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'You have an appointment booked for 15 March 2025 at 9am. <a href="/pop/view-appointment">View your appointment</a> if you need to reschedule it.'
}) }}
{% endif %}

{% if (session.popVerificationStatus == "pending" or scenario == "pending") %}
{{ mojAlert({
  variant: "warning",
  title: "Account pending verification",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'Your account has been created and will be verified after your next face-to-face appointment with your probation practitioner.
  <br /> Once your account is activated you will be able to acccess the links below.'
}) }}
{% endif %}

{% if (session.popVerificationStatus == "verified" or scenario == "verified") %}
{{ mojAlert({
  variant: "success",
  title: "Account verified",
  showTitleAsHeading: true,
  dismissible: false,
  html: 'Your account has been successfully verified.'
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <ul class="govuk-list navigation-list">
        <li >
          <p class="govuk-heading-s">
            {% if (session.popVerificationStatus == "pending" or scenario == "pending") %}
              <a class="govuk-link govuk-link--no-underline" href="#">Your details</a>
            {% else %}
              <a class="govuk-link govuk-link--no-underline" href="/pop/your-details">Your details</a>
            {% endif %}
          </p>
        </li>
        <li >
            <p class="govuk-heading-s">
            {% if (session.popVerificationStatus == "pending" or scenario == "pending")%}
              <a class="govuk-link govuk-link--no-underline" href="#">Your progress</a>
            {% else %}
              <a class="govuk-link govuk-link--no-underline" href="/pop/your-progress">Your progress</a>
            {% endif %}
            </p>
        </li>
        <li >
            <p class="govuk-heading-s">
            {% if (session.popVerificationStatus == "pending" or scenario == "pending") %}
              <a class="govuk-link govuk-link--no-underline" href="#">Past and upcoming appointments</a>
            {% else %}
              <a class="govuk-link govuk-link--no-underline" href="/pop/appointments">Past and upcoming appointments</a>
            {% endif %}
            </p>
        </li>
         <li >
            <p class="govuk-heading-s">
            {% if (session.popVerificationStatus == "pending" or scenario == "pending") %}
              <a class="govuk-link govuk-link--no-underline" href="#">Messages</a>
            {% else %}
              <a class="govuk-link govuk-link--no-underline" href="/pop/messages">Messages</a>
            {% endif %}
            </p>
        </li>
        <li >
            <p class="govuk-heading-s">
            {% if (session.popVerificationStatus == "pending" or scenario == "pending") %}
              <a class="govuk-link govuk-link--no-underline" href="#">Your conditions</a>
            {% else %}
              <a class="govuk-link govuk-link--no-underline" href="pop/conditions">Your conditions</a>
            {% endif %}
            </p>
        </li>
      </ul>
  </div>
</div>

{% endblock %}
