{% extends "../../layouts/layout.njk" %}

{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/messages/macro.njk" import mojMessages %}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Message Thread" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {{ govukBackLink({
      text: "Back to messages",
      href: "/pop/messages"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l ">{{message.subject}}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


      {% if error and error != "" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: error,
            href: "#attachment"
          }]
        }) }}
      {% endif %}

      <div id="reply-form" class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-box govuk-box--rounded govuk-!-padding-4 ">
          <div id="message-list">
            {{ mojMessages({
              items: message.items
            }) }}
          </div>
          <form id="replyForm" class="govuk-!-margin-top-2" method="post" action="/pop/messages/thread/{{message.id}}" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="govuk-form-group">  
             <p class="govuk-hint">
                Be respectful when messaging. Abusive behaviour will not be tolerated and will be dealt with right away.
              </p>
              <textarea class="govuk-textarea" id="message" name="message" rows="5" placeholder="Enter your message" aria-describedby="message-hint"></textarea>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="attachment">Attach supporting evidence (optional)</label>
              <input class="govuk-file-upload" id="attachment" name="attachment" type="file" accept="image/*">
            </div>
            <div class="govuk-grid-row govuk-!-text-align-left">

                {{ govukButton({
                  text: "Cancel",
                  href: "/pop/messages",
                  classes: "govuk-button--secondary govuk-!-margin-right-2 govuk-!-margin-left-2"
                }) }}
                {{ govukButton({
                  text: "Reply",
                  type: "submit"
                }) }}
            </div>
          </form>
        </div>

    </div>
  </div>
</div>

{% endblock %}
