{% extends "../../layouts/layout.njk" %}

{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/badge/macro.njk" import mojBadge %}

{% set pageTitle = applicationName + " - Messages" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {{ govukBackLink({
      text: "Back to homepage",
      href: "/pop"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-2  ">Messages</h1>
      <p class="govuk-!-color-muted">Communicate with your probation practitioner and view important updates about your community sentence</p>
  </div>

  <div class="govuk-grid-column-full">

    {{ govukButton({
          text: "Create new message",
          href: "/pop/new-message",
          class: "govuk-!-text-align-right "
        }) }}

        </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {% for message in messages %}
    <div class="govuk-box govuk-box--rounded message-summary">
  <div class="govuk-!-display-flex govuk-!-justify-content-space-between govuk-!-align-items-center">
    <h3 class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0 govuk-!-display-flex govuk-!-align-items-center">
     {% if message.status == 'unread' %}
     {{ mojBadge({
        text: "Unread",
        classes: "moj-badge--red govuk-!-margin-right-1"
     }) }}
      {% endif %}
      {{message.subject}}
    </h3>
  </div>
  <p class="govuk-body-xs govuk-!-margin-0 govuk-!-padding-0 govuk-!-margin-bottom-4">{{message.date}}</p>
  <p>{{message.description | safe}}</p>
  <a class="govuk-link" href="/pop/messages/thread/{{message.id}}">View message</a></div>
  {% endfor %}
  </div>
</div>


{% endblock %}
