{% extends "../../layouts/layout.njk" %}

{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Create new message" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {{ govukBackLink({
      text: "Back to messages",
      href: "/pop/messages"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l ">Write new message</h1>
    <p class="govuk-body-s sub-heading">Send a message to your probation practitioner</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="govuk-box govuk-box--rounded govuk-!-padding-6 border box-shadow">

        <form method="post" action="/pop/new-message" enctype="multipart/form-data">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <div class="govuk-form-group">
            <label class="govuk-label" for="subject">Subject</label>
            <input class="govuk-input" id="subject" name="subject" type="text" placeholder="">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="message">Your message</label>
            <p class="govuk-body-s govuk-hint">
                Be respectful when messaging. Abusive behaviour will not be tolerated and will be dealt with right away.
              </p>
            <textarea class="govuk-textarea" id="message" name="message" rows="5" placeholder="" aria-describedby="message-hint"></textarea>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="attachment">Attach supporting evidence (optional)</label>
            <input class="govuk-file-upload" id="attachment" name="attachment" type="file">
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-text-align-right">
              {{ govukButton({
                text: "Cancel",
                href: "/pop/messages",
                classes: "govuk-button--secondary govuk-!-margin-right-2 govuk-!-margin-left-2"
              }) }}
              {{ govukButton({
                text: "Send message",
                type: "submit"
              }) }}
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
