{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - Your progress" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {{ govukBackLink({
      text: "Back to homepage",
      href: "/pop"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Your progress</h1>
      <p class="govuk-body subhead">Last updated on 10 March 2025, 2:29pm</p>
        <div class="govuk-grid-row govuk-!-margin-top-8">
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-heading-m govuk-!-margin-0">Hours completed</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0  govuk-!-text-align-right">{{ progressData.completedHours }}/{{ progressData.totalHours }}</span>
          </div>
        </div>
      <div class="govuk-box total-hours">
          <div class="not-completed-hours" style="width: 0%"></div>
        </div>
  {% include "./partials/progress-help.njk" %}


     <h1 class="govuk-heading-m govuk-!-margin-bottom-3">Next Session</h1>
      <p class="govuk-body subhead">Your next session will be shown here after it has been scheduled</p>

      <h1 class="govuk-heading-m govuk-!-margin-bottom-3">Past attendance</h1>
      <p class="govuk-body subhead">Your previous attendance will be shown here after your first session</p>
  </div>
  </div>
</div>

{% endblock %}
