{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - View upcoming appointment" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {{ govukBackLink({
      text: "Back to Your appointments",
      href: "/pop/appointments"
    }) }}
    <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-4">View upcoming appointment</h1>
  <p class="govuk-body">If you have a problem attending an appointment, you need to <a class="govuk-link" href="">tell your probation practitioner</a> as soon as possible.</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    {{ govukTable({
      head: [],
      rows: [
        [
          { text: "Type of appointment", classes: "govuk-!-font-weight-bold" },
          { text: "Unpaid work" }
        ],
        [
          { text: "Meeting point", classes: "govuk-!-font-weight-bold" },
          { text: "123 Garden Street, London SE1 7TH" }
        ],
        [
          { text: "Date", classes: "govuk-!-font-weight-bold" },
          { text: "Saturday 15 March 2025" }
        ],
        [
          { text: "Time", classes: "govuk-!-font-weight-bold" },
          { text: "9am - 5pm" }
        ]
      ]
    }) }}
  </div>
</div>

{% endblock %}
