{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Login" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

     {{ govukBackLink({
  text: "Back",
  href: "/pop"
}) }}
      <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">Enter your email address</h1>
      <form class="form" method="post" action="/auth/enter-email-address" novalidate="novalidate">
                   <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group">
          <input class="govuk-input govuk-!-width-three-quarters" id="emailAddress" name="emailAddress" type="email" spellcheck="false" autocomplete="email">
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-!-width-three-quarters" data-module="govuk-button" id="submit">
            Continue
          </button>
        </div>
      </form>
  </div>
</div>

{% endblock %}
