{% extends "../../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Verify Security Code" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
       {{ govukBackLink({
  text: "Back",
  href: "/auth/enter-email-address"
}) }}

    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-4">Check your email</h1>
    
    {{ govukInsetText({
  text: "We have sent an email to: " ~ email
}) }}
    <p class="govuk-body">The email contains a 6 digit security code.</p>
    <p class="govuk-body">The email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
    <p class="govuk-body">The code will expire after 15 minutes.</p>
    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-2">Enter the 6 digit security code</h2>
    <form class="form" method="post" action="/sign-in/verify-security-code" novalidate="novalidate">
      <div class="govuk-form-group">
        <input class="govuk-input govuk-!-width-one-third" id="securityCode" name="securityCode" type="text" spellcheck="false" autocomplete="one-time-code">
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button govuk-!-width-three-quarters" data-module="govuk-button" id="submit">
          Continue
        </button>
      </div>
    </form>

    {{ govukDetails({
  summaryText: "Problems with the code?",
  text: "If you did not receive a code, we can send you a new one."
}) }}

<a href="" class=""govuk-link>View security email</a>
  </div>
</div>

{% endblock %}
