{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: "",
    href: "/"
  },
  serviceLabel: {
    text: applicationName,
    href: "/"
  },
  navigation: {
    label: "Account navigation",
    items: [{
      text: "Sign out",
      href: "/sign-out"
    }]
  }
}) }}
