{%- from "moj/components/badge/macro.njk" import mojBadge -%}

<div class="govuk-box govuk-box--rounded appointment-summary">
      <h3 class="govuk-body govuk-!-margin-0">
        {{appointment.date}}
        {% if isUpcoming and loop.first and submittedEvidence %}
          {{ mojBadge({ text: "CANNOT ATTEND", classes: "moj-badge--red govuk-!-margin-left-2 " }) }}
        {% endif %}
      </h3> 
      <h3 class=" govuk-!-margin-0 govuk-!-padding-0  govuk-body"> 
      {{appointment.time}}
      </h3>

       <div class="govuk-!-margin-top-3">
      <h4 class="govuk-body-s ">Appointment type</h4>

      <p class="govuk-body ">{{ appointment.category }}</p>

       </div>
       {% if appointment.category !== 'Unpaid Work'%}
      <div class="govuk-!-margin-top-3">

        <h4 class="govuk-body-s ">Key contact</h4>
        <p class="govuk-body  ">{{ appointment.contact }}</p>

       <span class="govuk-body-s govuk-!-font-weight-normal govuk-!-padding-bottom-1  ">
          {% if appointment.contactLink %}
            <a class="govuk-link govuk-link--no-visited-state" href="/pop/new-message">Message</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
       <div class="govuk-!-margin-top-3">
          {% if appointment.category == 'Unpaid Work'%}
            <h4 class="govuk-body-s ">Meeting point</h4>
          {% else %}
            <h4 class="govuk-body-s ">Location</h4>
          {% endif%}
          <p class="govuk-body ">{{ appointment.location }}</p>
       </div>
      <div class="govuk-!-margin-top-2 govuk-!-display-flex govuk-!-align-items-center">
        {% if appointment.showOnMap %}
        <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-3">
          View on map
        </button>
        {% endif %}
        {% if isUpcoming %}
          <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-right-3">
            Add to calendar
          </button>
          {% if isUpcoming and loop.first and submittedEvidence %}
            <a class="govuk-link" href="/pop/view-appointment?submitEvidence=true">View</a>
          {% else %}
            <a class="govuk-link" href="/pop/view-appointment">View</a>
          {% endif %}
        {% else %}
          <a class="govuk-link" href="/pop/view-past-appointment">View</a>
        {% endif %}

      </div>
    </div>
