{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  html: '<p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1" >'
    + unpaidWorkWarning
    +'</p>',
  iconFallbackText: "Warning"
}) }}
