{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

<h2 class="govuk-heading-m">Overview</h2>
{% set html %}
  <p class="govuk-notification-banner__heading">
    You need to <a class="govuk-notification-banner__link" href="/staff/verify-pop-photo">verify</a> the identity for this person.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
