.govuk-main-wrapper {
  min-height: 800px;
}
.app-auth-container{
  min-height: 100px;
}

.gem-c-cards__list li {
  list-style: none;
}

h3 {
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
}

// override in one place using mixins to reduce repeated classes in njks
.appointment-summary p, .appointment-summary h4 {
  @include govuk-responsive-margin(0);
  @include govuk-responsive-padding(0);
  @include govuk-responsive-padding(1,'bottom');
}

.appointment-description {
  @include govuk-responsive-margin(0);
  @include govuk-responsive-margin(4,'bottom');
  @include govuk-responsive-margin(3,'top');
  @include govuk-responsive-padding(0);
  @include govuk-responsive-padding(1,'bottom');
}

.appointment-summary, .message-summary {
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6,'bottom');
}

.message-summary h3 {
  @include govuk-responsive-margin(0);
  @include govuk-responsive-padding(0);
  @include govuk-responsive-padding(1,'bottom');
}

.gem-c-cards__list-item-wrapper {
  background-color: white;
  border: 1px solid #dcdcdc;
  padding: 25px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.gem-c-cards__list-item-wrapper::after {
  content: '→';
  position: absolute;
  right: 20px;
  font-size: 20px;
  color: #005ea5;
}

.gem-c-cards__sub-heading {
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile .prefix {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.govuk-box--rounded {
  border: 1px #000 solid;
  border-radius: 5px;
}
