{% extends "../../layouts/layout.njk" %}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{% set pageTitle = applicationName + " - Checkout Attendee" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBackLink({
      href: "/supervisor/view-placement/" + placement.id,
      text: "Back to Placement"
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {% include "./partials/profile-banner.njk" %}

    <div class="govuk-box govuk-box--white govuk-box--rounded govuk-!-padding-6 govuk-!-margin-bottom-6 govuk-!-padding-top-4 border box-shadow">
      <h1 class="govuk-heading-m">Check out</h1>

            <p class="govuk-body govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1 govuk-!-font-weight-bold ">Hours remaining</p>
            <p class="govuk-body govuk-!-padding-bottom-4">45 hours</p>

      <form method="post" action="/supervisor/check-out/{{ placement.id }}/{{ attendee.userId }}/confirm">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">End time</h3>
      </legend>
  <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-right-2">
    {{ govukInput({
      id: "hours",
      name: "hours",
      type: "number",
      classes: "govuk-input--width-2",
      attributes: {
        min: "0",
        max: "23"
      }
    }) }}
  </div>

  <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-right-2">
    {{ govukInput({
      id: "minutes",
      name: "minutes",
      type: "number",
      classes: "govuk-input--width-2",
      attributes: {
        min: "0",
        max: "59"
      }
    }) }}
  </div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">How did they do</h2>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="Unsatisfactory" name="performance" type="radio" value="Good">
          <label class="govuk-label govuk-radios__label" for="Unsatisfactory">Unsatisfactory</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="Adequate" name="performance" type="radio" value="Average">
          <label class="govuk-label govuk-radios__label" for="Adequate">Adequate</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="Good" name="performance" type="radio" value="Bad">
          <label class="govuk-label govuk-radios__label" for="Good">Good</label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="Excellent" name="performance" type="radio" value="Bad">
          <label class="govuk-label govuk-radios__label" for="Excellent">Excellent</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Comments</h2>
      </legend>
          <span class="govuk-hint">This will be shared with POPs</span>
    <textarea class="govuk-textarea" id="comments" name="comments" rows="5"></textarea>
  </div>

  <div class="govuk-form-group">

  {{ govukButton({
    text: "Confirm",
    type: "submit",
    classes: ""
  }) }}
  </div>
</form>

    </div>
  </div>
</div>

{% endblock %}
