{% extends "../../layouts/layout.njk" %}
{%- from "moj/components/progress-bar/macro.njk" import mojProgressBar -%}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}

{% set pageTitle = applicationName + " - View Placement" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% if message and message.length > 0 %}
  {{ mojAlert({
    variant: "success",
    title: message,
    showTitleAsHeading: true,
    dismissible: true,
    html: ''
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column govuk-!-margin-bottom-2">
     {{ govukBackLink({
      href: "/supervisor",
      text: "Back to Placements"
    }) }}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ placement.title }}</h1>
      <p class="govuk-body govuk-hint govuk-!-font-size-16 govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1">{{ placement.nextSession }}</p>
      <p class="govuk-body govuk-hint govuk-!-font-size-16 govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-2">{{ placement.address }}</p>
    </div>
  </div>
</div>

<div class="govuk-box govuk-box--white govuk-box--rounded govuk-!-padding-4 govuk-!-margin-top-2">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-xs govuk-!-margin-0 govuk-!-padding-0">Booked slots</p>
          <p class="govuk-heading-s govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1 govuk-!-padding-top-2">{{ placement.slotsBooked }}/{{ placement.totalSlots }}</p>
          {{ mojProgressBar({ completed: placement.slotsBooked, total: placement.totalSlots, classes: "govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-4" }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-xs govuk-!-margin-0 govuk-!-padding-0">Slots remaining</p>
          <p class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1 govuk-!-padding-top-2">{{ placement.totalSlots - placement.slotsBooked }}</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-xs govuk-!-margin-0 govuk-!-padding-0">Predicted turnout based on attendance history</p>
          <p class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-bottom-1 govuk-!-padding-top-2">{{ placement.predictedTurnout }} people</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-0 govuk-!-margin-0">Attendee list</p>
  </div>
  <div class="govuk-grid-column-one-quarter govuk-!-text-align-right ">
    <a href="#" class="govuk-button">Add attendee</a>
  </div>
</div>

<div class="govuk-box govuk-box--white govuk-box--rounded govuk-!-padding-top-1 govuk-!-padding-right-4 govuk-!-padding-left-4 govuk-!-margin-top-1">
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full">
    {% if placement.attendees | length %}
    {% set displayRows = [] %}
{% for attendee in placement.attendees %}
  {% set checkinLink = '<a href="/supervisor/check-in/' ~ placement.id ~ '/' ~ attendee.userId ~ '" class="govuk-link">Check-in</a>' %}
  {% set checkoutLink = '<a href="/supervisor/check-out/' ~ placement.id ~ '/' ~ attendee.userId ~ '" class="govuk-link">Checkout</a>' %}
  {% set nowShowLink = '<a href="/supervisor/no-show/' ~ placement.id ~ '/' ~ attendee.userId ~ '" class="govuk-link">No Show</a>' %}

  {% set actions = '<a href="#" class="govuk-link">View</a> <a href="/supervisor/remove/' ~ placement.id ~ '/' ~ attendee.userId ~ '" class="govuk-link">Remove</a>' %}

  {% if (attendee.status == 'Checked in') %}
    {% set actions = actions + ' ' + checkoutLink  %}
    {% elseif (attendee.status == 'pending') %}
        {% set actions = actions + ' ' + checkinLink + ' ' + nowShowLink  %}
  {% endif %}

  {% set displayRows = (displayRows.push([
    { text: attendee.userId },
    { text: attendee.name },
    { text: ' ' if attendee.status === 'pending' else attendee.status },
    { html: mojBadge({ text: attendee.risk, classes: attendee.riskClass }) },
    { html: actions }
  ]), displayRows) %}
{% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          { text: "User ID" },
          { text: "Name" },
          { text: "Status" },
          { text: "Risk" },
          { text: "Actions" }
        ],
        rows: displayRows
      }) }}
    {% else %}
      <p data-test="no-attendees">No attendee details found.</p>
    {% endif %}
  </div>
</div>
</div>

{% endblock %}
