{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Take a photo" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column govuk-!-margin-top-2 govuk-!-margin-bottom-4">
      {{ govukBackLink({
        text: "Back",
        href: "/pop/verify/options"
      }) }}
      <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-1">Take a photo</h1>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full center-content">
   <div id="video-container">
      <!-- Camera stream -->
    </div>
     {{ govukButton({
        text: "Capture",
        type: "button",
        id: "take-photo",
        classes: "govuk-!-margin-top-4"
      }) }}
    <form method="post" action="/pop/verify/take-photo">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </form>
   
  </div>
</div>

{% endblock %}

