{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Upload a photo" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {% if errorMessage and errorMessage.length > 0 %}
          {{ mojAlert({
            variant: "error",
            title: errorMessage,
            showTitleAsHeading: true,
            dismissible: true,
            html: ''
          }) }}
        {% endif %}

    <div class="govuk-grid-column govuk-!-margin-top-2 govuk-!-margin-bottom-4">
      {{ govukBackLink({
        text: "Back",
        href: "/pop/verify/options"
      }) }}
      <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-1">Upload photo</h1>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" action="/pop/verify/upload-photo" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
<div class="govuk-form-group">
              <input class="govuk-file-upload" id="attachment" name="attachment" type="file" accept="image/*">
            </div>      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
