{% extends "../../layouts/layout.njk" %}

{% set pageTitle = applicationName + " - Cases" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include "./partials/navigation.njk" %}

<div class="govuk-grid-row  govuk-!-margin-top-8 govuk-!-margin-bottom-2">
  <div class="govuk-grid-column-full">
    <p class="govuk-body-s govuk-!-margin-0 govuk-!-padding-0">
    <span> CRN: D00628 </span> <span class="govuk-!-padding-right-2 govuk-!-padding-left-2"> | </span>
    <span> Date of birth: 15 May 1996 (age 58) <span class="govuk-!-padding-right-2 govuk-!-padding-left-2"> | </span>
    <span> Tier: D2 </span>
    </p>

    <h2 class="govuk-heading-l">Joe Bloggs</h2>
    {% include "./partials/tabs.njk" %}

    </div>
</div>
</div>

{% endblock %}
