{% extends "../../layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Verify Photo" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorMessage and errorMessage.length > 0 %}
      {{ mojAlert({
        variant: "error",
        title: errorMessage,
        showTitleAsHeading: true,
        dismissible: true,
        html: ''
      }) }}
    {% endif %}

    {{ govukBackLink({
    text: "Back",
    href: "/staff"
    }) }}
    <h1 class="govuk-heading-l">Is this a true likeness of Joe Bloggs?</h1>
    <form class="form" action="/staff/verify-pop-photo" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukButton({
              text: "Continue",
              type: "submit"
            }) }}
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
