{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 class="govuk-heading-l">Welcome, Carolina</h1> 
<p class="govuk-body para-text" style="color: #505A5E;">View and manage your community payback</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="gem-c-cards">
      <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">
          <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="/your-details">
            <div class="gem-c-cards__list-item-wrapper">
              <h3 class="gem-c-cards__sub-heading govuk-heading-s color-blue">Your details</h3>
            </div>
          </a>
        </li>
        <li class="gem-c-cards__list-item">
          <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="/your-progress">
            <div class="gem-c-cards__list-item-wrapper">
              <h3 class="gem-c-cards__sub-heading govuk-heading-s color-blue">Your progress</h3>
            </div>
          </a>
        </li>
        <li class="gem-c-cards__list-item">
          <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="/">
            <div class="gem-c-cards__list-item-wrapper">
              <h3 class="gem-c-cards__sub-heading govuk-heading-s color-blue">Find unpaid work near you</h3>
            </div>
          </a>
        </li>
        <li class="gem-c-cards__list-item">
          <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="/">
            <div class="gem-c-cards__list-item-wrapper">
              <h3 class="gem-c-cards__sub-heading govuk-heading-s color-blue">Guidance</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <a class="govuk-link staff-facing-link" href="/staff-flow">Staff-facing flow</a>
  </div>
</div>

{% endblock %}
